.works {
  padding: 0 1rem 16rem;
  display: flex;
  flex-direction: column;
  gap: 10rem; /* 100px inner gap */
}

.sectionTitle {
  font-size: 3.2rem; /* 32px */
  font-weight: 500;
  margin: 0;
  letter-spacing: -0.01em;
}

.projectList {
  display: flex;
  flex-direction: column;
  gap: 12rem; /* Gap between different projects */
}

@media (max-width: 768px) {
  .works {
    padding: 0 1rem 12rem;
    gap: 10rem; /* 100px inner gap */
  }
  
  .sectionTitle {
    font-size: 3.2rem;
  }
  
  .projectList {
    gap: 6rem;
  }
}
